.analyticsDashboard {
  background: #e5f3ff;
  padding: 10px 20px;
}

.analyticsDashboard__client {
  padding: 18px 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background: #167578;
  border: 1px solid white;
}

.aliceB {
  background: aliceblue;
}

.analyticsDashboard__client_brandLogo {
  font-family: sans-serif;
  font-size: 1.25rem;
  color: #e5f3ff;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 1;
}

.analyticsDashboard__client_title {
  font-family: monospace;
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
}

.loaderWrapper {
  background: #ffffff61;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  display: none;
}

.loaderWrapper .loader {
  position: absolute;
  left: 45%;
  top: 33%;
}

.rowFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.counterView__card {
  background: white;
  margin: 10px;
  padding: 15px;
  -webkit-box-shadow: 0 3px 10px #1a1a1a26;
          box-shadow: 0 3px 10px #1a1a1a26;
  border-radius: 6px;
  min-height: 190px;
}

.counterView__card_val {
  font-size: 6rem;
  text-align: center;
  font-weight: bold;
  color: #167578;
  line-height: 1.2;
}

.counterView__card_label {
  font-size: 1.25rem;
  text-align: center;
  font-weight: bold;
}

#counterDenote, #counterInstances {
  padding-left: 12px;
  font-weight: 600;
  font-size: 20px;
}

#counterDenote .upColor, #counterInstances .upColor {
  color: green;
  position: relative;
  left: 5px;
  top: 2px;
}

#counterDenote .downColor, #counterInstances .downColor {
  color: #da0e0e;
  position: relative;
  left: 5px;
  top: 2px;
}

.pageViewCard {
  min-height: 618px;
}

.instanceViewCard {
  min-height: 415px;
  width: 100%;
}

.lineViewCard {
  min-height: 204px;
  width: 100%;
}

.locationViewCard {
  min-height: 410px;
}

.taLogo {
  background: black;
  text-align: center;
  width: 100%;
  padding: 40px;
  height: 180px;
}

.taLogo img {
  width: 90%;
}

.line {
  fill: none;
  stroke: #167578;
  stroke-width: 2px;
}

.header {
  background-color: #167578;
  color: white;
  font-weight: bold;
}

.pageLocationcard {
  height: 415px;
  overflow-y: scroll;
}

.urlViewsChart__Rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  border: 1px solid black;
}

.urlViewsChart__Url {
  width: 80%;
  border-right: 1px solid black;
  padding: 4px;
  word-break: break-all;
  overflow-x: hidden;
}

.urlViewsChart__Count {
  width: 20%;
  padding: 4px;
  border-left: 1px solid black;
}

@media only screen and (max-width: 800px) {
  .counterView__card_val {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 600px) {
  .rowFlex {
    display: block;
  }
  .analyticsDashboard {
    padding: 10px 10px;
  }
  .taLogo, .instanceViewCard, .lineViewCard {
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */